#header{
	background:#626262;
}
#primarymenu ul{
	background:#1A3850;
}
#sidebar-left  .title, #sidebar-right  .title {
	background:#1A3850 ;
}
#richfooter {
	border-top:4px solid #1A3850 ;
	background:#152735 ;
}