#header{
	background:#626262;
}
#primarymenu ul{
	background:#789C54;
}
#sidebar-left  .title, #sidebar-right  .title {
	background:#789C54 ;
}
#richfooter {
	border-top:4px solid #789C54 ;
	background:#3E3F3A ;
}