#header{
	background:#626262;
}
#primarymenu ul{
	background:#601515;
}
#sidebar-left  .title, #sidebar-right  .title {
	background:#601515 ;
}
#richfooter {
	border-top:4px solid #601515 ;
	background:#1F0707 ;
}