/* layout */

body {
  margin: 0;
  padding: 0;
  min-width: 750px;      
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:Arial, Verdana, sans-serif;
}

#page {
   margin: 0 auto;
   width: 90%;
   background:#fff;   
   padding: 15px;
   min-width:860px;
}

#header, #content, #main_banner {
  width: 100%;
}

#header {
  min-height: 70px;
  margin-bottom: 0px;
}
#main_banner{
  margin-bottom: 10px;
}
#container {
margin: 0 auto;
overflow:hidden;
}

#sidebar-left, #sidebar-right {
  width: 220px;
  float:left;
  z-index: 2;
  position: relative;
}
#sidebar-left .block, #sidebar-right .block {
	background:#F3F3F3;
	float: left;
    width: 100%;
	margin:0 0 5px;
}

#header .block .title, #richfooter .block .title, 
#sidebar-left .block .title, #sidebar-right .block .title{
	color:#fff;
}

#main {
float: left;
width:100%;
}

body.sidebar-left #main {
  margin-left: -220px;
  margin-right: 0;
}

body.sidebar-right #main {
  margin-right: -220px;
  margin-left: 0;
}

body.sidebars #main {
  margin-left: -220px;
  margin-right: -220px;
}

body.sidebar-left #squeeze {
  padding-left: 220px;
  padding-right: 0;
}

body.sidebar-right #squeeze {
  padding-right: 220px;
  padding-left: 0;
}

body.sidebars #squeeze {
  padding-left: 220px;
  padding-right: 220px;
}

#main-content {
  padding: 10px 16px;
}

.node {
  margin: .5em 0 1em 0;
}

.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}

/* typography */

body {
  font-size: 12px;
  font-family:  Arial, Verdana, sans-serif;
  line-height: 18px;
  color: #000;
  background:#B1B1B1;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h4 {
  padding-bottom: 5px;
  margin: 10px 0;
  line-height: 1.2em;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 160%;
}

h3 { 
   font-size: 130%;
}

h4 {
  font-size:  110%;
}

#content-top h2, #content-top h2.title,
#content-bottom h2, #content-bottom h2.title {
  color:#C56237;
}

#main h2.title {
   font-size: 150%;
}

.title, .title a {
  font-weight: bold;
  color: #C56237;
  margin: 0 auto;
}
.submitted {
    color: #FF8B52;
    font-size: 0.8em;
}
.links {
  color: #C56237;
}
.links a {
  font-weight: bold;
}
.block  .content{
	padding:5px 18px;
}
.block .title {
	margin-bottom: .25em;
	padding:5px 18px;
	color:#C56237;
}
.box .title {
  font-size: 1.2em;
}

.sticky {
  padding: .6em;
  background-color: #eee;
  border: solid 1px #ddd;
}

/* links */

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#main .block  .content{
	padding:0 0 10px;
}

#main .block h2.title {
  font-size: 150%;
  padding:0;
}

/* elements */

tr.odd td, tr.even td {
  padding: 0.3em;
}

tr.odd {
background: #eee;
}

tr.even {
background: #D3D3D3;
}

tbody {
   border: none;
}

fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}

table {
  font-size: 1em;
  margin: 0.8em 0;
}

.form-item label {
  font-size: 1em;
  color: #222;
}

.item-list .title {
  font-size: 1em;
  color: #222;
}

.item-list ul li {
margin:0pt 0pt 0.25em 0;
}

.links {
  margin-bottom: 0;
}

.comment .links {
  margin-bottom: 0;
}

#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.clr {
  clear: both;
}

/* site logo, name, slogan */

#logo {
  vertical-align: middle;
  border: 0;
}

#logo img {
  float: left;
  padding: 0 1em;
  border: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 263px;
  height: 82px;
}

#logo-title {
float: left;
padding: 30px 20px 10px;
display:inline;
}

#name-and-slogan {
float: left;
margin: 30px 20px 10px;
}

.site-name {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.site-name a:link, .site-name a:visited {
  color: #fff;
}

.site-name a:hover {
  text-decoration: underline;
}

.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: bold;
}

/* search */

#search-theme-form {
    background: none repeat scroll 0 0 #626262;
    float: right;
    margin: 10px;
    padding: 10px;
	display:inline;
}

#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}

#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}

#edit-search-theme-form-1-wrapper label {
  display: none;
}

/* primary links */
#menu{
    background: none repeat scroll 0 0 #626262;
    margin: 0 0 10px;
    overflow: hidden;
	width:100%;
	margin-bottom: 10px;
}
#primarymenu  ul {
    clear: both;
    float: right;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

#primarymenu li {
border-left:1px solid #FFFFFF;
padding:0pt 0.5em 0pt 0.7em;
}

#primarymenu li.first {
border:medium none;
}


.primary-links {
  font-size: 1.0em;
  color: #fff;
}

.secondary-links {
  font-size: 0.8em;
  color: #fff;
}

.primary-links a,
.primary-links a:link, 
.primary-links a:visited, 
.primary-links a:hover, 
.primary-links .links {
  font-weight: bold;
  color: #fff;
}

.primary-links ul.menu {
  text-align: right;
}

.primary-links li {
display:inline;
list-style-type:none;
padding:0pt 0.5em;
}

.primary-links li.first {
  border: none;
}

#primarymenu a.active, #primarymenu a.active {
color:#CDCD8F;
}
#primarymenu a {
color:#FFFFFF;
font-weight:bold;
}

/* mission statement, breadcrumbs, messages */

#mission {
  padding: 1.5em 2em;
  color: #666;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}

.breadcrumb {
  margin-bottom: .5em;
}

div#breadcrumb {
    clear: both;
    font-size: 11px;
    padding: 10px;
}

.messages {
    background-color: #F0E5E5;
    border: 1px solid #A58181;
    margin-bottom: 1em;
    padding: 0.3em;
}
.error {
  border-color: red;
}

#header .block {
  text-align: center;
}
/* Rich Footer */
#richfooter{
	width:100%;
	padding:20px 0;
	clear:both;
	overflow:hidden;
}
.richfooter-region{
	width:25%;
	float:left;
}
.richfooter-region .block{
	padding:0 10px;
    color: #FFFFFF;
}
#richfooter h2{
    background: none repeat scroll 0 0 transparent;
    font-size: 24px;
}
/* footer */

#footer {
  background-color: #fff;
  font-size: 0.8em;
  margin-top: 4px;
  text-align: center;
}

#footer-region {
  text-align: center;
}

#footer-message {
  text-align: center;
  margin:0;
  font-size: 90%;
}
  
#footer-message a {
  font-weight:bold;
}

.node .taxonomy {
  font-size: 0.8em;
  padding-left: 1.5em;
}
.node .picture {
  border: 1px solid #dedede;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #dedede;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
    color: #E82424;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  font-style: italic;
  font-size: 0.8em;
}
#aggregator .title {
  margin-bottom: 0.6em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #666;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #C56237;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}

.poll .title { color:#000000;}
